
.levelTerminalContainer{
    flex: 1px;
    overflow: scroll;
    background-color: #ebedf0;
    height: 800px;
    height: 100%;

    padding: 20px;
}
.levelTerminalChart{
  background: #ffffff;
  h4{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: gray;
    font-size: 20px;
  }
}