
.mediaContainer{
    flex: 1;
    background-color: #ebedf0;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction:column;
    overflow: auto;
}

.terminalTable{
   padding-top: 50px;
}
#myChartMediaplayer{
    width: 100%;
    min-height: 300px;
    clear: both;
    background-color: #ffffff;
}

.mediaTable{
    flex: 1;
    // border: solid 1px red;
}