.first_perch
{
    height: 90px;

}
.terminalContainer{
    background-color: #ebedf0;
    // width: 1228px;
    margin-left: 210px;
    height: 800px;
    height: 100%;
    border: solid 1px #ebedf0;
}
.terminalbk{
    margin: 20px auto;
    width: 95%;
    // height: 900px;
    background-color: #ffffff;
}
.mineTable{
    margin: 20px auto;
    width: 80%;
    background-color: #ffffff;

  }

  .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }